Lab05/paros/output/
Lab07/book/.idea/
Lab07/book/book.iml
Lab07/book/out/
Lab07/lsp/.idea/
Lab07/lsp/lsp.iml
Lab07/lsp/out/
Lab08/creational/out/

Lab09/structural/out/
Lab09/structural/structural.iml
Lab09/structural/.idea/

Lab10/behavioral1/out/